$palette-1: #DAD7CD;
$palette-2: #A3B18A;
$palette-3: #588157;
$palette-4: #3A5A40;
$palette-5: #344E41;

$background-dark: $palette-4;
$background-light: $palette-2;

$content-dark: $palette-1;
$content-light: $palette-5;