$palette-1: #10002B;
$palette-2: #240046;
$palette-3: #3C096C;
$palette-4: #5A189A;
$palette-5: #7B2CBF;
$palette-6: #9D4EDD;
$palette-7: #C77DFF;
$palette-8: #E0AAFF;
$palette-9: #DFDFDF;

$background-dark: #10002B;
$content-dark: #dfdfdf;
$content-dark-hover: #7B2CBF;

$background-light: lighten(#DFDFDF, 7.5%);
$content-light: #5A189A;
$content-light-hover: #3C096C;