@use 'variables';

.intro {
    text-align: center;
    font-size: 1.5rem;
    margin: 7.5rem 0;
    padding: 0 3rem;

    .pronouns {
        margin-top: 1rem;
    }
}

.devBackground {
    background-color: variables.$palette-2;
    padding: 4rem;

    a,
    p {
        color: variables.$palette-4;
        font-size: 1.25rem;
    }

    p {
        margin-top: 2rem;
    }
}

.interests {
    background-color: variables.$palette-3;
    color: variables.$palette-1;
    padding: 4rem;
    font-size: 1.25rem;

    .music,
    .gym,
    .games {
        margin-top: 5rem;
    }

    p {
        margin-bottom: 2rem;
    }

    .recordWallButton {
        background: none;
        border: none;
        padding: 0;
        margin: none;
        font-size: 1.25rem;
        font-family: 'Jost', sans-serif;
        text-decoration: underline;
        color: variables.$palette-1;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }
}