@use 'variables';

.intro {
    text-align: center;
    font-size: 1.5rem;
    margin: 7.5rem 0;
}

.devBackground {
    background-color: variables.$palette-2;
    color: variables.$palette-4;
    padding: 4rem;
    font-size: 1.25rem;

    p:not(:last-child) {
        margin-bottom: 2rem;
    }
}

.interests {
    background-color: variables.$palette-3;
    color: variables.$palette-1;
    padding: 4rem;
    font-size: 1.25rem;

    p:not(:last-child) {
        margin-bottom: 2rem;
    }
}