@use 'variables';

.footer {
    width: 100%;
    background-color: variables.$palette-2;
    margin-top: auto;

    .footerContent {
        padding: 1rem;
        text-align: center;
        align-items: center;

        display: flex;
        justify-content: space-between;

        font-weight: 600;

        p:hover {
            cursor: default;
        }

        .icons {
            a:not(:first-child):not(:last-child) {
                margin: 0 0.5rem;
            }

            .instagram,
            .github,
            .linkedin {
                fill: variables.$content-dark;
                transition: 0.2s;

                &:hover {
                    fill: variables.$content-dark-hover;
                }
            }
        }
    }
}