@use 'variables';

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: variables.$palette-5;

    .footerContent {
        padding: 1rem;
        text-align: center;
    }
}