.home {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 85vw;

    .title {
        margin: 1rem 0;
        text-align: center;
        font-family: 'Jost', sans-serif;
        font-size: 3rem;
    }
}