.nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // Temporary background for visibility
    background-color: #344E41;

    .homelink,
    .homelink a,
    .icon,
    .pageLinkGroup,
    .pageLink {
        background-color: #344E41;
    }

    // Temporary background styling ends here

    .icon {
        cursor: pointer;
    }

    .pageLinkGroup {
        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;

        transition: 0.2s;
        overflow: hidden;

        height: 0;

        // For whatever reason, browser is not picking up on this
        &.active {
            height: fit-content;
        }


    }

    .pageLink {
        margin: 0.5rem auto;
        padding: 0.5rem;
        width: fit-content;
        transition: 0.2s;
    }
}

// Media queries
@media only screen and (min-width: 600px) {
    .nav {
        .icon {
            display: none;
        }

        .pageLinkGroup {
            position: static;
            width: auto;
            display: block;
            padding: 0;
        }

        .pageLink:nth-child(2) {
            margin: 0 2rem;
        }
    }
}