@use 'variables';

.project {
    padding: 1.5rem;
    margin: 1.5rem;
    background-color: variables.$palette-3;

    .projectTitle {
        font-size: 2rem;
    }
}

// PSA
.PSATitle {
    display: flex;
    align-items: center;

    .PSALogo {
        min-width: 2rem;
        width: 2rem;
        height: auto;
        margin-right: 0.75rem;
        fill: variables.$palette-1;
    }
}